/* Filler */
.filler {
    background-color: #111;
    max-width: 100%;
    color: white;
}

.filler-img {
    margin-bottom: 15px;
}

.filler-icon {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.marketing {
    padding: 8rem 2rem;
    text-align: center;
}