@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: black;
}
.body {
  font-family: Montserrat;
  font-weight: 600;
}
/*Desktop View*/
.header {
  display: flex;
  background: rgb(10, 10, 10);
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  height: 80px;
  font-family: Montserrat;
  font-weight: 600;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: sticky;
  top: 0;
  z-index: 1;
}
.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  width: 55px;
  height: 55px;
}
.search-bar {
  padding: 12px 40px;
  background-color: transparent;
  font-size: 18px;
  border: transparent;
  color: white;
}
.search {
  display: flex;
  align-content: center;
  padding-right: 20px;
  background-color: transparent;
  font-size: 18px;
  border-radius: 50px;
  border: 2px solid #f0f0f0;
}
.searchButton {
  background-color: transparent;
  color: white;
  position: relative;
}
.search-bar:focus {
  outline: none !important;
}
.searchButton:hover {
  color: #818181;
}
.search-icon {
  width: 18px;
  height: 18px;
}
.search-bar::placeholder {
  color: #707070;
}
.nav-options {
  padding-left: 25px;
  display: flex;
  grid-gap: 30px;
  align-items: center;
}
.nav-name:hover {
  color: #c8c8c8;
}
.nav-name {
  color: white;
}
.login:hover {
  color: #c8c8c8;
}
.login {
  padding-left: 10px;
  color: #fff;
}
.nav-name {
  display: none;
}
.nav-icon {
  height: 25px;
  width: 25px;
  color: white;
}
.nav-icon:hover {
  color: #c8c8c8;
}
.dashbtn {
  cursor: pointer;
  font-family: Montserrat;
  font-weight: 600;
  align-items: center;
  display: flex;
  grid-gap: 5px;
}

/* The container <div> - needed to position the dropdown content */
.dash-dropdown {
  position: relative;
  display: inline-block;
}

.dash-dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dash-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dash-dropdown-content a:hover {
  background-color: #f1f1f1;
  color: black;
}

.dash-dropdown:hover .dash-dropdown-content {
  display: block;
}

.sell-btn {
  display: flex;
  grid-gap: 5px;
  align-items: center;
  padding: 10px 25px;
  height: 2.4rem;
  border-radius: 30px;
  background: #4d23af;
  color: white;
  cursor: pointer;
  align-items: center;
}
.sell-btn:hover {
  background: rgb(138, 88, 255);
  color: black;
}
.mobile-menu {
  display: none;
}
@media (max-width: 975px) {
  .search-bar {
    padding: 10px 10px;
  }
}
@media (max-width: 430px) {
  .search-bar {
    padding: 10px 10px;
    width: 200px;
  }
}

@media (max-width: 750px) {
  /*Mobile View */
  .header {
    padding: 0px 15px;
  }
  .logo {
    width: 50px;
    height: 50px;
  }
  .search-bar {
    padding: 10px 30px;
  }

  .nav-options {
    display: flex;
    width: 100%;
    height: 320px;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
    grid-gap: 0px;
    padding-bottom: 20px;
  }
  .nav-options.active {
    background: #3a3a3a;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 10;
    align-content: center;
    padding-left: 0px;
  }
  .nav-name {
    display: block;
  }
  .nav-name:hover {
    color: rgb(200, 200, 200);
  }
  .login:hover {
    color: rgb(200, 200, 200);
  }
  .nav-icon {
    display: none;
  }
  .menu-icon {
    width: 35px;
    height: 35px;
    color: #f0f0f0;
  }
  .option {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vw;
    padding: 30px 0px;
  }
  .mobile-menu {
    display: block;
  }
}
