.profile_page{
    padding-top: 20px;
}
.profile_page .info{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    /* border-bottom: 1px solid #ddd; */
}

.profile_page .info .avatar{
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: relative;
    margin: 15px auto;
    border: 3px solid #ddd;
    border-radius: 50%;
    cursor: pointer;
}

.profile_page .info img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.profile_page .info .avatar span{
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 50%;
    background: #fff8;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    color: #4d23af;
    transition: 0.3s ease-in-out;
}
.profile_page .info .avatar:hover span{
    bottom: -15%;
}
.profile_page .info #file_up{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
}

.profile_page .info h2{
    text-align: center;
    font-size: 1.7rem;
    text-transform: uppercase;
    color: rgb(241, 241, 241);
    margin: 10px 0;
}
.profile_page .info label{
    display: block;
    margin-top: 5px;
    font-size: large;
    color:rgb(241, 241, 241);
}
.profile_page .info input{
    width: 500px;
    height: 40px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    outline: none;
    background: rgb(230, 230, 230);
    padding: 0 5px;
    color:black;
}
.profile_page .info button{
    background: #4d23af;
    color: white;
    padding: 10px 25px;
    border-radius: 8px;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    margin: 10px 0;
    transition: all 0.2s linear;
    margin-bottom: 40px;
}

.profile_page .info button:hover{
    transform: scale(1.15);
}
.profile_page .info em{
    color: crimson;
}

.wish_ad{
    border-top:1px solid #ddd;
    padding-top:50px;
}

.linkbtn{
    color:rgb(241, 241, 241);
    border-style: solid;
    border-radius: 5px;
    padding: 10px 25px;
    text-transform: uppercase;
    font-size: large;
    transition: all 0.2s linear;
    margin-right: 25px;
    margin-left: 25px;
}

.linkbtn:hover{
    color:#4d23af;
}

@media (max-width: 500px){
    .profile_page .info input{
        width: 300px;
    }
}

@media (max-width: 750px){
    .profile_page .info input{
        width: 450px;
    }
}

