/* list intro  */

.album {
    padding: 2rem 6rem 11rem !important;
}

.list-intro p,
.list-intro h1 {
    display: inline;

}

.view-all {
    position: relative;
    left: 93%;
    top: -33px;
    color: white;
}


.view-all:hover {
    color: white;
}

@media (max-width : 992px) and (min-width:768px) {
    .view-all {
        left: 89%;
    }
}

@media (max-width : 767px) {
    .view-all {
        left: 86%;
    }
}

/* ------------------------------------------------ */