body {
  padding-top: 0px;
  margin: 0;
  display: flex;
  align-items: flex-end;
  width: 100%;
  position: relative;
}
footer {
  margin-top: 100px;
  position:relative;
  left:0;
  bottom:0;
  right:0;
  background-color: #121315;
  color: #a7a7a7;
  font-size: 12px;
}
footer * {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  border: none;
  outline: none;
}
.row-footer {
  padding: 1em 1em;
}
.row-footer.primary {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  align-items: stretch;
}
.column-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 2em;
  min-height: 12em;
}

.logo-container {
  display: flex;
  align-items: left;
  justify-content: left;
}
.logo {
  width: 55px;
  height: 55px;
}
.ul-footer {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
.li-footer:not(:first-child) {
  margin-top: 0.8em;
}
.ul-footer li a {
  color: #a7a7a7;
  text-decoration: none;
}
.ul-footer li a:hover {
  color: #4d23af;
}
.about-footer p {
  text-align: justify;
  line-height: 1;
  margin: 0;
}
.input-footer,
.button-footer {
  font-size: 1em;
  padding: 1em;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 5px;
}
.button-footer {
  background-color: #4d23af;
  color: #ffffff;
}
div.socials {
  display: flex;
  justify-content: flex-start;
  font-size: 2.4em;
  flex-direction: row;
  margin-top: 0.5em;
  grid-gap: 5px;
}
.socials{
  color: #bac6d9;
}

.row-copyright {
  padding: 0.5em 1em;
  background-color: #25262e;
  position: flex;
  align-content: center;
}
.footer-menu {
  float: left;
  margin-top: 6px;
}

.footer-menu a {
  color: #cfd2d6;
  text-align: left;
  padding-left: 12px;
  padding: 18px;

  text-decoration: none;
}
.footer-menu a:hover {
  color: #4d23af;
}
.p-footer {
  font-size: 0.9em;
  text-align: right;
}
.column-links{
  padding-left: 20px;
  padding-top:15px;
}
.column-subscribe{
  padding-top:15px;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (max-width: 850px) {
  .body {
    width: 100%;
  }

  .logo {
    width: 50px;
    height: 50px;
  }

  .footer {
    width: 100%;
  }
  .row-footer.primary {
    grid-template-columns: 1fr;
  }
}